cfgv==3.4.0
click==8.3.0
click-shell==2.1
coverage==7.11.0
distlib==0.4.0
filelock==3.20.0
identify==2.6.15
iniconfig==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
nodeenv==1.9.1
packaging==25.0
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.3.0
pyfakefs==5.10.1
Pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
PyYAML==6.0.3
rich==14.2.0
shellingham==1.5.4
typer==0.16.1
typer-shell==1.0.3
typing_extensions==4.15.0
virtualenv==20.35.4
